In [162]:
#Podemos descargar datos de empresas del dataset Forbes2000 (paquete HSAUR) mediante
#get_rdataset(). Encontraremos un ranking de empresas categorizadas por sector, y con datos
#de su pa√≠s, ventas, beneficios, recursos y valor de mercado.

In [163]:
import numpy as num
import pandas as panda
import matplotlib.pyplot as plt
import scipy as scipy
import statsmodels.api as stat 
import statsmodels.formula.api as statf

In [164]:
forbes = sm.datasets.get_rdataset("Forbes2000","HSAUR")
forbes = forbes.data

In [165]:
forbes.head(999999999999999999)

,rank,name,country,category,sales,profits,assets,marketvalue
0,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
1,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
2,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
3,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
4,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54
5,6,Bank of America,United States,Banking,49.01,10.81,736.45,117.55
6,7,HSBC Group,United Kingdom,Banking,44.33,6.66,757.60,177.96
7,8,Toyota Motor,Japan,Consumer durables,135.82,7.99,171.71,115.40
8,9,Fannie Mae,United States,Diversified financials,53.13,6.48,1019.17,76.84
9,10,Wal-Mart Stores,United States,Retailing,256.33,9.05,104.91,243.74
10,11,UBS,Switzerland,Diversified financials,48.95,5.15,853.23,85.07
11,12,ING Group,Netherlands,Diversified financials,94.72,4.73,752.49,54.59
12,13,Royal Dutch/Shell Group,Netherlands/ United Kingdom,Oil & gas operations,133.50,8.40,100.72,163.45
13,14,Berkshire Hathaway,United States,Insurance,56.22,6.95,172.24,141.14
14,15,JP Morgan Chase,United States,Banking,44.39,4.47,792.70,81.94
15,16,IBM,United States,Technology hardware & equipment,89.13,7.58,104.46,171.54
16,17,Total,France,Oil & gas operations,131.64,8.84,87.84,116.64
17,18,BNP Paribas,France,Banking,47.74,4.73,745.09,59.29
18,19,Royal Bank of Scotland,United Kingdom,Banking,35.65,4.95,663.45,90.21
19,20,Freddie Mac,United States,Diversified financials,46.26,10.09,752.25,44.25
20,21,DaimlerChrysler,Germany,Consumer durables,157.13,5.12,195.58,47.43
21,22,Altria Group,United States,Food drink & tobacco,60.70,9.20,96.18,111.02
22,23,ChevronTexaco,United States,Oil & gas operations,112.94,7.43,82.36,92.49
23,24,Pfizer,United States,Drugs & biotechnology,40.36,6.20,120.06,285.27
24,25,Wells Fargo,United States,Banking,31.80,6.20,387.80,97.53
25,26,Verizon Commun,United States,Telecommunications services,67.75,2.57,165.97,103.97
26,27,Barclays,United Kingdom,Banking,33.69,4.90,791.54,61.33
27,28,Morgan Stanley,United States,Diversified financials,33.00,3.64,580.63,64.81
28,29,General Motors,United States,Consumer durables,185.52,3.82,450.00,27.47
29,30,Nippon Tel & Tel,Japan,Telecommunications services,92.41,2.17,150.87,73.00
...,...,...,...,...,...,...,...,...
1970,1971,Citrix Systems,United States,Business services & supplies,0.59,0.13,1.34,3.20
1971,1972,SEB,France,Consumer durables,2.95,0.12,1.75,1.98
1972,1973,China Southern Airlines,China,Transportation,2.18,0.07,4.49,3.16
1973,1974,Cameco,Canada,Materials,0.64,0.16,2.59,2.60
1974,1975,Neyveli Lignite,India,Materials,0.54,0.24,2.02,2.12
1975,1976,SinoPac Holdings,Taiwan,Banking,0.69,0.04,12.20,1.98
1976,1977,Universal,United States,Food drink & tobacco,2.86,0.13,2.38,1.22
1977,1978,Daewoo Intl,South Korea,Trading companies,5.50,0.07,1.81,0.35
1978,1979,Banco di Sardegna,Italy,Banking,0.76,0.06,12.01,0.81
1979,1980,Petroplus Intl,Netherlands,Trading companies,5.48,-0.03,1.50,0.25
1980,1981,CSN-Cia Siderurgica,Brazil,Materials,1.46,-0.06,4.22,4.24
1981,1982,Sumitomo Forestry,Japan,Construction,5.46,-0.13,2.92,1.67
1982,1983,Bharti Tele-Ventures,India,Telecommunications services,0.64,-0.04,1.91,6.29
1983,1984,Indian Overseas Bank,India,Banking,0.84,0.09,8.68,0.54
1984,1985,Cousins Properties,United States,Diversified financials,0.19,0.25,1.14,1.51
1985,1986,Bank of Ryukyus,Japan,Banking,0.34,0.04,11.79,0.38
1986,1987,Bank Philippine Islands,Philippines,Banking,0.58,0.10,7.42,1.50
1987,1988,Haseko,Japan,Construction,3.84,0.04,4.08,0.71
1988,1989,Stanley Electric,Japan,Consumer durables,2.00,0.11,1.82,3.23
1989,1990,Mack-Cali Realty,United States,Diversified financials,0.58,0.14,3.71,2.46
1990,1991,Peabody Energy,United States,Materials,2.76,0.04,5.28,2.15
1991,1992,Origin Energy,Australia,Utilities,2.24,0.11,2.21,2.75
1992,1993,Sogecable,Spain,Media,1.03,-0.06,1.53,6.02
1993,1994,Mobilcom,Germany,Telecommunications services,2.16,-3.62,8.67,1.42
1994,1995,AMEC,United Kingdom,Construction,5.17,0.02,2.62,1.53
1995,1996,Siam City Bank,Thailand,Banking,0.48,0.02,11.27,1.47
1996,1997,Yokogawa Electric,Japan,Business services & supplies,2.78,-0.22,2.96,3.29
1997,1998,Hindalco Industries,India,Materials,1.35,0.14,2.47,2.76
1998,1999,Nexans,France,Capital goods,5.09,0.00,2.71,0.88
1999,2000,Oriental Bank of Commerce,India,Banking,0.81,0.10,7.16,1.17

In [166]:
rank_max= forbes["rank"].max()
print rank_max

2000

In [167]:
# OK, tenemos 2000 filas en el fichero

In [168]:
#Seleccionar del dataframe los nombres de empresa que incluyen "elect" (sin tener en
#cuenta may√∫sculas). Intentamos con esto obtener empresas ‚Äúdel sector de la
#electricidad‚Äù de forma aproximada.

In [169]:
elect = forbes [forbes.name.str.contains("elect", case=False)==True]
elect.head(99999)

,rank,name,country,category,sales,profits,assets,marketvalue
1,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
44,45,Samsung Electronics,South Korea,Semiconductors,50.22,5.95,54.58,72.72
71,72,Tokyo Electric Power,Japan,Utilities,41.62,1.40,116.68,30.63
151,152,Korea Electric Power,South Korea,Utilities,18.01,2.57,58.38,11.84
156,157,Kansai Electric Power,Japan,Utilities,22.12,0.68,60.52,17.56
170,171,Chubu Electric Power,Japan,Utilities,18.41,0.90,52.08,15.59
219,220,Emerson Electric,United States,Conglomerates,14.33,1.12,15.71,26.88
280,281,Tohoku Electric Power,Japan,Utilities,13.48,0.52,34.49,8.67
284,285,Kyushu Electric Power,Japan,Utilities,12.02,0.54,34.69,8.48
322,323,Schneider Electric,France,Capital goods,11.04,0.54,14.37,15.39
414,415,Matsushita Electric Indl,Japan,Consumer durables,62.62,-0.16,60.46,33.02
424,425,STMicroelectronics,Switzerland,Semiconductors,7.98,0.28,11.98,24.11
433,434,Electrolux Group,Sweden,Consumer durables,15.34,0.59,9.50,6.93
439,440,Chugoku Electric Power,Japan,Utilities,8.54,0.37,23.36,6.41
567,568,American Electric,United States,Utilities,15.58,-0.16,36.08,13.21
585,586,Mitsubishi Electric,Japan,Capital goods,30.79,-0.10,26.24,10.28
621,622,Hughes Electronics,United States,Media,10.12,-0.30,18.95,23.56
634,635,Matsushita Electric Works,Japan,Capital goods,11.26,0.19,9.37,6.54
641,642,Sanyo Electric,Japan,Consumer durables,19.24,-0.62,21.65,9.43
646,647,Electronic Data Sys,United States,Software & services,21.48,-0.27,18.28,9.98
727,728,Shikoku Electric Power,Japan,Utilities,4.95,0.22,11.96,4.65
786,787,Sumitomo Electric,Japan,Capital goods,12.60,-0.17,13.46,6.38
798,799,Hokkaido Electric Power,Japan,Utilities,4.39,0.22,11.85,3.76
810,811,Hongkong Electric,Hong Kong/China,Utilities,1.49,0.88,7.26,9.04
829,830,United Microelectronics,Taiwan,Semiconductors,2.18,0.20,9.29,14.66
856,857,Hokuriku Electric Power,Japan,Utilities,4.08,0.18,13.09,3.74
863,864,Electronic Arts,United States,Software & services,2.82,0.50,3.34,13.28
1078,1079,Odakyu Electric Railway,Japan,Transportation,5.47,0.07,10.69,3.72
1155,1156,Tokyo Electron,Japan,Semiconductors,3.90,-0.35,4.36,11.71
1183,1184,Verbund-Austrian Electric,Austria,Utilities,2.18,0.16,7.27,4.28
1198,1199,Compal Electronics,Taiwan,Technology hardware & equipment,3.38,0.23,2.72,4.07
1250,1251,Furukawa Electric,Japan,Capital goods,6.01,-0.96,9.91,2.52
1273,1274,Keio Electric Railway,Japan,Transportation,3.55,0.13,4.40,3.49
1296,1297,Kesa Electricals,United Kingdom,Retailing,5.64,0.16,2.81,2.72
1332,1333,Alps Electric,Japan,Business services & supplies,5.09,0.15,4.00,2.30
1336,1337,Funai Electric,Japan,Consumer durables,2.80,0.16,1.60,4.70
1346,1347,Arrow Electronics,United States,Technology hardware & equipment,8.09,0.01,5.04,2.67
1394,1395,Fuji Electric,Japan,Capital goods,7.04,0.03,7.73,1.55
1395,1396,Thermo Electron,United States,Health care equipment & services,2.10,0.20,3.39,4.63
1460,1461,Nippon Electric Glass,Japan,Business services & supplies,2.78,0.12,4.15,3.25
1462,1463,SEM-Samsung Electro,South Korea,Technology hardware & equipment,3.29,0.18,3.00,2.74
1467,1468,Oki Electric Industry,Japan,Business services & supplies,4.95,-0.06,5.05,2.69
1580,1581,Keihin Electric Express,Japan,Transportation,2.65,0.07,6.11,3.22
1581,1582,Johnson Electric Holdings,Hong Kong/China,Capital goods,0.96,0.15,0.85,4.73
1820,1821,Chi Mei Optoelectronics,Taiwan,Technology hardware & equipment,1.72,0.13,2.62,3.68
1835,1836,Hawaiian Electric,United States,Utilities,1.76,0.10,9.03,1.94
1841,1842,Guangdong Electric Power,China,Utilities,0.67,0.14,1.43,3.39
1967,1968,Hirose Electric,Japan,Technology hardware & equipment,0.57,0.10,1.63,4.29
1988,1989,Stanley Electric,Japan,Consumer durables,2.00,0.11,1.82,3.23
1996,1997,Yokogawa Electric,Japan,Business services & supplies,2.78,-0.22,2.96,3.29

In [170]:
numero_lineas=elect.shape[0]
print numero_lineas

50

In [171]:
numero_Columnas=elect.shape[1]
print numero_Columnas

8

In [172]:
# Ok ahora en elecct tenemos 50 filas y 8 coluumnas

In [173]:
#Utilizando como √≠ndice el pa√≠s y la categor√≠a y orden√°ndolo (sort_index), encontrar el
#valor de mercado de las empresas japonesas y estadounidenses.

In [174]:
Valor_mercado = elect.set_index(["country", "category"])
Valor_mercado.sort_index(inplace=True)
Valor_mercado.head(15)

                                              rank                       name  \
country         category
Austria         Utilities                     1184  Verbund-Austrian Electric
China           Utilities                     1842   Guangdong Electric Power
France          Capital goods                  323         Schneider Electric
Hong Kong/China Capital goods                 1582  Johnson Electric Holdings
                Utilities                      811          Hongkong Electric
Japan           Business services & supplies  1333              Alps Electric
                Business services & supplies  1461      Nippon Electric Glass
                Business services & supplies  1468      Oki Electric Industry
                Business services & supplies  1997          Yokogawa Electric
                Capital goods                  586        Mitsubishi Electric
                Capital goods                  635  Matsushita Electric Works
                Capital goods                  787          Sumitomo Electric
                Capital goods                 1251          Furukawa Electric
                Capital goods                 1395              Fuji Electric
                Consumer durables              415   Matsushita Electric Indl

                                              sales  profits  assets  \
country         category
Austria         Utilities                      2.18     0.16    7.27
China           Utilities                      0.67     0.14    1.43
France          Capital goods                 11.04     0.54   14.37
Hong Kong/China Capital goods                  0.96     0.15    0.85
                Utilities                      1.49     0.88    7.26
Japan           Business services & supplies   5.09     0.15    4.00
                Business services & supplies   2.78     0.12    4.15
                Business services & supplies   4.95    -0.06    5.05
                Business services & supplies   2.78    -0.22    2.96
                Capital goods                 30.79    -0.10   26.24
                Capital goods                 11.26     0.19    9.37
                Capital goods                 12.60    -0.17   13.46
                Capital goods                  6.01    -0.96    9.91
                Capital goods                  7.04     0.03    7.73
                Consumer durables             62.62    -0.16   60.46

                                              marketvalue
country         category
Austria         Utilities                            4.28
China           Utilities                            3.39
France          Capital goods                       15.39
Hong Kong/China Capital goods                        4.73
                Utilities                            9.04
Japan           Business services & supplies         2.30
                Business services & supplies         3.25
                Business services & supplies         2.69
                Business services & supplies         3.29
                Capital goods                       10.28
                Capital goods                        6.54
                Capital goods                        6.38
                Capital goods                        2.52
                Capital goods                        1.55
                Consumer durables                   33.02

In [175]:
valor_japon = Valor_mercado.loc["Japan"]
valor_eeuu = Valor_mercado.loc["United States"]

In [176]:
valor_japon.head(5)

,rank,name,sales,profits,assets,marketvalue
category,,,,,,
Business services & supplies,1333,Alps Electric,5.09,0.15,4.00,2.30
Business services & supplies,1461,Nippon Electric Glass,2.78,0.12,4.15,3.25
Business services & supplies,1468,Oki Electric Industry,4.95,-0.06,5.05,2.69
Business services & supplies,1997,Yokogawa Electric,2.78,-0.22,2.96,3.29
Capital goods,586,Mitsubishi Electric,30.79,-0.10,26.24,10.28

In [177]:
valor_eeuu.head(5)

,rank,name,sales,profits,assets,marketvalue
category,,,,,,
Conglomerates,2,General Electric,134.19,15.59,626.93,328.54
Conglomerates,220,Emerson Electric,14.33,1.12,15.71,26.88
Health care equipment & services,1396,Thermo Electron,2.10,0.20,3.39,4.63
Media,622,Hughes Electronics,10.12,-0.30,18.95,23.56
Software & services,647,Electronic Data Sys,21.48,-0.27,18.28,9.98

In [178]:
erase_una_vez_valor_mercado_total_japon= valor_japon ["marketvalue"].sum()
print erase_una_vez_valor_mercado_total_japon

215.1

In [179]:
erase_una_vez_valor_mercado_media_japon= valor_japon ["marketvalue"].mean()
print erase_una_vez_valor_mercado_media_japon

7.96666666667

In [180]:
valor_mercado_total_eeuu= valor_eeuu ["marketvalue"].sum()
print valor_mercado_total_eeuu

424.69

In [181]:
valor_mercado_medio_eeuu= valor_eeuu ["marketvalue"].mean()
print valor_mercado_medio_eeuu

47.1877777778

In [182]:
valor_medio_japonyeeuu = valor_mercado_medio_eeuu + erase_una_vez_valor_mercado_media_japon
print valor_medio_japonyeeuu

55.1544444444

In [183]:
valor_total_japonyeeuu = valor_mercado_total_eeuu + erase_una_vez_valor_mercado_total_japon
print valor_total_japonyeeuu

639.79

In [184]:
#Sobre el mismo subconjunto de empresas el√©ctricas, obtener el pa√≠s donde el sector de
#utilities tiene mayor valor de mercado medio en sus empresas.

In [185]:
elect.head(2)

,rank,name,country,category,sales,profits,assets,marketvalue
1,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
44,45,Samsung Electronics,South Korea,Semiconductors,50.22,5.95,54.58,72.72

In [186]:
indexado= elect.set_index(["category"])
indexado.head(5)

,rank,name,country,sales,profits,assets,marketvalue
category,,,,,,,
Conglomerates,2,General Electric,United States,134.19,15.59,626.93,328.54
Semiconductors,45,Samsung Electronics,South Korea,50.22,5.95,54.58,72.72
Utilities,72,Tokyo Electric Power,Japan,41.62,1.40,116.68,30.63
Utilities,152,Korea Electric Power,South Korea,18.01,2.57,58.38,11.84
Utilities,157,Kansai Electric Power,Japan,22.12,0.68,60.52,17.56

In [187]:
utilities = indexado.loc["Utilities"]

In [188]:
utilities_ordenado = utilities.sort_values("country",ascending=False)

In [189]:
utilities_ordenado.head(115)

,rank,name,country,sales,profits,assets,marketvalue
category,,,,,,,
Utilities,568,American Electric,United States,15.58,-0.16,36.08,13.21
Utilities,1836,Hawaiian Electric,United States,1.76,0.10,9.03,1.94
Utilities,152,Korea Electric Power,South Korea,18.01,2.57,58.38,11.84
Utilities,72,Tokyo Electric Power,Japan,41.62,1.40,116.68,30.63
Utilities,157,Kansai Electric Power,Japan,22.12,0.68,60.52,17.56
Utilities,171,Chubu Electric Power,Japan,18.41,0.90,52.08,15.59
Utilities,281,Tohoku Electric Power,Japan,13.48,0.52,34.49,8.67
Utilities,285,Kyushu Electric Power,Japan,12.02,0.54,34.69,8.48
Utilities,440,Chugoku Electric Power,Japan,8.54,0.37,23.36,6.41
Utilities,728,Shikoku Electric Power,Japan,4.95,0.22,11.96,4.65
Utilities,799,Hokkaido Electric Power,Japan,4.39,0.22,11.85,3.76
Utilities,857,Hokuriku Electric Power,Japan,4.08,0.18,13.09,3.74
Utilities,811,Hongkong Electric,Hong Kong/China,1.49,0.88,7.26,9.04
Utilities,1842,Guangdong Electric Power,China,0.67,0.14,1.43,3.39
Utilities,1184,Verbund-Austrian Electric,Austria,2.18,0.16,7.27,4.28

In [190]:
eeuu_utilities = utilities_ordenado[(utilities_ordenado.country=="United States")]
mean_eeuu= eeuu_utilities["marketvalue"].mean()
mean_eeuu

7.575

In [191]:
japon_utilities = utilities_ordenado[(utilities_ordenado.country=="Japan")]
mean_japon= japon_utilities["marketvalue"].mean()
mean_japon

11.054444444444446

In [192]:
# el valor medio de las utilities de EEUU es 7.575
# el valor medio de las utilities de Corea del Sur es 11.84 (solo hay una)
# el de Jap√≥n (mira que esta lejos Jap√≥n) es 11.054444444444446
# el de Hong Kong es 9.04
# el valor medio de las utilities de china es 3.39 (solo hay una)
# el de Austria es 	4.28
#
# so the winner is.....

# Corea del Sur (la de Kim Jong-un, NO, la otra, m√°s abajo)

In [193]:
# Volviendo al dataset original, obtener las empresas espa√±olas.

In [194]:
forbes.head(3)

,rank,name,country,category,sales,profits,assets,marketvalue
0,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
1,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
2,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87

In [195]:
iberos = forbes[forbes.country=="Spain"]
iberos

,rank,name,country,category,sales,profits,assets,marketvalue
38,39,Banco Santander Central,Spain,Banking,28.70,3.28,442.24,56.78
56,57,BBVA-Banco Bilbao Vizcaya,Spain,Banking,24.10,2.81,288.80,44.67
108,109,Repsol-YPF,Spain,Oil & gas operations,29.14,2.05,39.34,26.22
114,115,Endesa Group,Spain,Utilities,20.43,1.65,57.92,21.10
188,189,Iberdrola,Spain,Utilities,11.94,1.33,30.99,18.78
378,379,Banco Popular Espaqol,Spain,Banking,3.32,0.67,44.01,14.38
408,409,Telefsnica,Spain,Telecommunications services,29.84,-5.86,60.65,86.39
462,463,Gas Natural SDG,Spain,Utilities,5.53,0.85,9.25,11.28
472,473,Altadis,Spain,Food drink & tobacco,9.45,0.46,8.66,9.48
529,530,Unisn Fenosa,Spain,Utilities,6.13,0.36,15.71,6.35
532,533,Cepsa,Spain,Oil & gas operations,8.85,0.48,6.31,9.29
605,606,Grupo Ferrovial,Spain,Construction,5.29,0.48,11.78,5.11
734,735,FCC Group,Spain,Construction,5.77,0.29,7.14,4.99
762,763,Inditex,Spain,Household & personal products,4.28,0.47,3.24,13.52
787,788,Banco de Sabadell,Spain,Banking,1.99,0.30,38.38,4.77
876,877,ACS Group,Spain,Construction,4.64,0.19,5.16,6.24
951,952,Corporation Mapfre,Spain,Insurance,5.87,0.12,15.45,2.73
1035,1036,Acciona,Spain,Construction,3.59,0.17,6.11,4.13
1058,1059,Bankinter,Spain,Banking,1.37,0.17,30.05,3.26
1059,1060,Abertis Infraestructuras,Spain,Transportation,0.80,0.21,6.78,7.43
1074,1075,Iberia,Spain,Transportation,4.71,0.17,4.85,3.34
1426,1427,Amadeus Global Travel,Spain,Business services & supplies,2.43,0.20,1.34,3.60
1435,1436,Sacyr-Vallehermoso,Spain,Diversified financials,0.88,0.22,3.75,4.09
1493,1494,Acerinox,Spain,Materials,2.63,0.18,2.70,3.05
1623,1624,Enagas,Spain,Oil & gas operations,1.97,0.18,3.89,2.83
1892,1893,Banco Pastor,Spain,Banking,0.49,0.08,13.12,1.79
1897,1898,Red Eectrica de Espaqa,Spain,Utilities,1.14,0.15,4.28,2.36
1931,1932,Gamesa,Spain,Capital goods,1.15,0.14,2.04,3.02
1992,1993,Sogecable,Spain,Media,1.03,-0.06,1.53,6.02

In [196]:
# Indexar el dataframe anterior por beneficios (profits) y obtener los nombres y rangos de
# las que tengan un beneficio nulo o negativo. Nota: intenta indexar de manera mixta con
# n√∫meros (filas) y etiquetas columnas), hay una operaci√≥n espec√≠fica para esto en
# pandas.

In [201]:
# una forma muy rupestre de hacerlo:

iberos_ordenado=iberos.sort_values("profits",ascending=True)

iberos_ordenado.head(5)

,rank,name,country,category,sales,profits,assets,marketvalue
408,409,Telefsnica,Spain,Telecommunications services,29.84,-5.86,60.65,86.39
1992,1993,Sogecable,Spain,Media,1.03,-0.06,1.53,6.02
1892,1893,Banco Pastor,Spain,Banking,0.49,0.08,13.12,1.79
951,952,Corporation Mapfre,Spain,Insurance,5.87,0.12,15.45,2.73
1931,1932,Gamesa,Spain,Capital goods,1.15,0.14,2.04,3.02

In [203]:
index_iberos = iberos_ordenado.set_index(["profits"])
index_iberos.head(4)

,rank,name,country,category,sales,assets,marketvalue
profits,,,,,,,
-5.86,409,Telefsnica,Spain,Telecommunications services,29.84,60.65,86.39
-0.06,1993,Sogecable,Spain,Media,1.03,1.53,6.02
0.08,1893,Banco Pastor,Spain,Banking,0.49,13.12,1.79
0.12,952,Corporation Mapfre,Spain,Insurance,5.87,15.45,2.73

In [204]:
# y con esto  ya sabemmos cuales son 
# negativos Telefssssssssnica y sogecable

In [205]:
# pero creo que pides esto

iberos_profif = iberos.set_index(["profits"])
iberos_profif.sort_index(inplace=True)
iberos_profif.ix[:0,["rank","name"]]

         rank        name
profits
-5.86     409  Telefsnica
-0.06    1993   Sogecable